# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.Python

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# User-specific
.env

# Python scripts
pip-log.txt
